
a {
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
}
header {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
header p{
  font-family: 'Hammersmith One', sans-serif;
  font-size: 3.6em;
  margin: 10px 0 0 10px;
  color: white;
}
.topMain {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(34, 34, 34);
}
#roc{
  width: 100%;
  position: absolute;
  bottom: 0;
}
main {
  width: 90%;
  font-family: 'Acme', sans-serif;
  margin: 0 auto;
  height: 50vh;
  background-color: white;
  position: relative;
  margin-top: 40px;
  -webkit-box-shadow:inset 0px 0px 0px 10px #343434;
  -moz-box-shadow:inset 0px 0px 0px 10px #343434;
  box-shadow:inset 0px 0px 0px 10px #343434;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mainLeft p:first-child {
  font-size: 2.4em;
  margin: 20px 0 0 30px;
  color: #57129f;
  padding-top: 5px;
}
.mainLeft {
  order: 1;
  width: 50%;
  margin: 0;
}
.mainRight {
  order: 2;
  width: 50%;
  text-align: center;
  padding-top: 5%;
  margin: 0;
  margin-bottom: 30px;
}
.mainRight a {
  font-family: 'Acme', cursive;
  font-size: 2em;
  margin: 25px 0 0 0;
  text-decoration: underline;
  color: #57129f;
  padding-top: 10px;
}
#arrow {
  padding-top: 20px;
  width: 5%;
  animation: bounce 1s infinite linear;
}
@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}
#moi3 {
  width: 23%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: -10px;
}
.title {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 90px;
  color: white;
  display: block;
  width: 100vw;
  text-align: center;
  padding: 50px 0 50px 0;
  margin: 0 auto;
  margin-left: 310px;
}
/*work*/
#portfolio2{
  height: 100%;
  width: 100%;
  background-color: rgb(34,34,34);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
/*MDL cards*/
.card{
  border: 1px solid white;
  border-bottom: none;
  background: rgba(0,0,0,0.09);
  background-color: white; 
  width: 330px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  height: 310px;
  justify-content: space-evenly;
} 
.card h2 a{
  color: black;
}
.card__media{
  background-color:white;
}
.card__media img{
  width: 100%;
  height: 236px;
}
.card__actions{
  margin: 0;
  margin-left: 2px;
}
.card__actions h2{
  margin: 0;
  padding: 0;
  color: black;
}
.card_actions> h2> a{
  color: rgb(0,0,0);
}
.card__supporting-text{
  color: rgba(0,0,0,0.7);
}
.cardTitle:hover {
  color: grey;
}
.clickHand{
  position: relative;
  top: 13px;
  width: 34px;
  margin-left: 3px;
}
footer {
  
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 22px;
  padding-left: 25px;
  display: inline-flex;
  flex-direction: row;
}
#socialMediaIcons {
  float: right;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  top: 25vh;
}
.socialMediaImg {
  width: 50px;
  padding: 2px;
}

@media only screen and (max-width: 750px) {
  .topMain {
    width: 100%;
    height: 100%;
  }
  .topMain p {
    padding: 10px;
  }
 
  header p {
    font-size: 3em;
  }
  main {
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .mainLeft{
    width: 100%;
    flex-direction: column;
    border-bottom: 10px  inset #343434;
    position: relative;
  }
  .mainRight{
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #moi3 {
    width:45%;
  }
  #socialMediaIcons {
    flex-direction: column;
    margin-top: 0;
    top: 0;
    right: 30px;
  }
  #roc {
    position: relative;
  }
  /* porfolio */
  .title {
    margin-top: 10px;
    font-size: 3em;
    margin-left: 10px;
  }
  .card {
    margin: 20px auto;
  }
}


