/*var macarena = {"color:#212121;"};*/
/* colourlovers palette is called dusty days - figure out how to set variables*/
a {
  text-decoration: none;
}
body{
  margin: 0;
}
header {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  font-family: 'Acme', cursive;
  font-size: 2em;
  margin: 25px 36px 0 0;
  text-decoration: underline;
}
header p{
  font-family: 'Caveat Brush', sans-serif;
  font-size: 4em;
  text-shadow: 4px 4px 5px white;
  margin: 10px 0 0 10px;
  color: #1c1c1c;
}
.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.topMain {
  width: 100%;
  background-image: url("../images/roc2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin: 0;
}
main {
  width: 50%;
  font-family: 'Acme', sans-serif;
  margin: 0;
  height: 100%;
}
main p:first-child {
  font-size: 2.4em;
  margin: 20px 0 0 30px;
  color: #57129f;
}
#moi3 {
  width: 75%;
  margin: 0;
  position: relative;
  bottom: 80px;
  right: 155px;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 47%;
}

/*aside*/

aside { 
width: 50%;
margin: 0;
/*margin-top: 140px;*/
margin-top: 10px;
}
aside p {
  color: #57129f;
  font-size: 1.5em;
  font-family: 'Acme', sans-serif;
}
aside ul {
  color: black;
  list-style-type: none;
  font-size: 1.5em;
  font-family: Helvetica;
  line-height: 2em;
  text-align: center;
  margin-right: 70%;
}
#twitterImg {
  width: 64px;
}
#facebookImg {
  width: 64px;
}
#emailImg {
  width: 64px;
}
.socialMedia img{
  padding-left: 12px;
}
/*work*/
.bottomMain {
  background-image: url("../images/brick2.jpg");
  background-size: 100% 100%;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bottomMain h1 {
  font-family: 'Caveat Brush', cursive;
  font-size: 100px;
  color: white;
  text-shadow: 6px 6px 5px black;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.title {
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  bottom: 220px;
  width: 75%;
  margin: 0 auto;
  visibility: default;
  -webkit-transition: visibility 2s;
}
.work {
  width: 25%;
  text-align: center;
}
.workImage {
  width: 75%;
  min-height: 250px;
  border: 3px solid white;
  transition: opacity 2s;
}
.workImage:hover .title {
  visibility: hidden;
  opacity: 1;
}
.workImage:hover {
  opacity: 0.5;
  border-color: black;
}
/*Footer*/
footer {
  background-color: black;
  text-align: center;
  width: 100%
}
footer p {
  color: #A9c4c6;
  padding-top: 5px;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  .topMain {
    width: 100%;
    height: 100%;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  header p {
    font-size: 3em;
  }
  main, aside {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }
  #moi3 {
    width:85%;
    bottom: 0px;
    right: 155px; 
  }
  /*aside*/
  aside {
    margin: 0 0 162px 20px;
  }
  aside p:first-child {
    margin-top: 0;
  }

  /*work*/
  .bottomMain {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .work {
    width: 100%;
  }